<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} | %highlight(%-5level) | [%-20.20thread] %cyan(%-36.36logger{36}) %-50(\(%file:%line\)) | %X{CorrelationId} |%cyan(%msg%n){}%exception
            </Pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>
    <logger name="com.example.demo" level="DEBUG"></logger>
    <logger name="org.springframework.boot.autoconfigure.mongo.embedded" level="INFO"/>
    <logger name="org.mongodb" level="INFO"/>

z
</configuration>